[Unit]
Description=Digital Clock with Video Background
After=time-set.target

[Service]
EnvironmentFile=-/usr/local/etc/%N.env
Type=exec
ExecStart=/usr/local/bin/%N
User=%N
Group=%N
PrivateTmp=on
PrivateNetwork=on
MemorySwapMax=0

[Install]
WantedBy=multi-user.target
